/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 8, 2023, 11:55:21 AM
    Author     : Admin
*/

@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900");

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, div
pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q,
s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li,
figure, header, nav, section, article, aside, footer, figcaption {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
}

html, body {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    background-color: #fff;
    font-size: 16px;
    -ms-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/*div .detail{
    border-bottom: 3px dotted #eee;
    padding-top: 160px;
    padding-bottom: 30px;
}*/

header, nav, section, article, aside, footer, hgroup {
    display: block;
}


.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    justify-content: center;
}

a {
    text-decoration: none !important;
}

.nav {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

ul {
    margin-bottom: 0px;
}

ul, li {
    padding: 0;
    margin: 0;
    list-style: none;
}


/*Header*/
.background-header {
    border-bottom: none !important;
    background-color: #fff;
    height: 80px!important;
    position: fixed!important;
    top: 0px;
    left: 0px;
    right: 0px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.15)!important;
}

.background-header .logo,
.background-header .main-nav .nav li a {
    color: #1e1e1e!important;
}

.background-header .main-nav .nav li:hover a {
    color: #2a2a2a!important;
}

.background-header .nav li a.active {
    color: #2a2a2a!important;
}

.header-area {
    border-bottom: 3px dotted #eee;
    box-shadow: none;
    background-color: #fff;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 100;
    height: 100px;
    -webkit-transition: all .5s ease 0s;
    -moz-transition: all .5s ease 0s;
    -o-transition: all .5s ease 0s;
    transition: all .5s ease 0s;
}

.header-area .main-nav {
    min-height: 80px;
    background: transparent;
}

.header-area .main-nav .logo {
    line-height: 100px;
    color: #fff;
    font-size: 28px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
    float: left;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

.background-header .main-nav .logo {
    line-height: 75px;
}

.background-header .nav {
    margin-top: 20px !important;
}

.header-area .main-nav .nav {
    float: right;
    margin-top: 30px;
    margin-right: 0px;
    background-color: transparent;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    position: relative;
    z-index: 999;
}

.header-area .main-nav .nav li {
    padding-left: 15px;
    padding-right: 15px;
}

.header-area .main-nav .nav li:last-child {
    padding-right: 0px;
}

.header-area .main-nav .nav li a {
    display: block;
    font-weight: bold;
    font-size: 20px;
    color: #2a2a2a;
    text-transform: capitalize;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    height: 40px;
    line-height: 40px;
    border: transparent;
    letter-spacing: 1px;
}

.header-area .main-nav .nav li a {
    color: #2a2a2a;
}

.header-area .main-nav .nav li:hover a,
.header-area .main-nav .nav li a.active {
    color: #aaa!important;
}

.background-header .main-nav .nav li:hover a,
.background-header .main-nav .nav li a.active {
    color: #aaa!important;
    opacity: 1;
}

.header-area .main-nav .nav li.submenu {
    position: relative;
    padding-right: 30px;
}

.header-area .main-nav .nav li.submenu:after {
    font-family: FontAwesome;
    content: "\f107";
    font-size: 15px;
    color: #2a2a2a;
    position: absolute;
    right: 15px;
    top: 12px;
}

.background-header .main-nav .nav li.submenu:after {
    color: #2a2a2a;
}

.header-area .main-nav .nav li.submenu ul {
    position: absolute;
    width: 200px;
    box-shadow: 0 2px 28px 0 rgba(0, 0, 0, 0.06);
    overflow: hidden;
    top: 50px;
    opacity: 0;
    visibility: hidden;
    z-index: -1;
    transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
}

.header-area .main-nav .nav li.submenu ul li {
    margin-left: 0px;
    padding-left: 0px;
    padding-right: 0px;
}

.header-area .main-nav .nav li.submenu ul li a {
    opacity: 1;
    display: block;
    background: #f7f7f7;
    color: #2a2a2a!important;
    padding-left: 20px;
    height: 40px;
    line-height: 40px;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    position: relative;
    font-size: 13px;
    font-weight: 600;
    border-bottom: 1px solid #eee;
}

.header-area .main-nav .nav li.submenu ul li a:hover {
    background: #fff;
    color: #aaa!important;
    padding-left: 25px;
}

.header-area .main-nav .nav li.submenu ul li a:hover:before {
    width: 3px;
}

.header-area .main-nav .nav li.submenu:hover ul {
    visibility: visible;
    opacity: 1;
    z-index: 1;
    transform: translateY(0%);
    transition-delay: 0s, 0s, 0.3s;
}

.header-area .main-nav .menu-trigger {
    cursor: pointer;
    display: block;
    position: absolute;
    top: 33px;
    width: 32px;
    height: 40px;
    text-indent: -9999em;
    z-index: 99;
    right: 40px;
    display: none;
}

.background-header .main-nav .menu-trigger {
    top: 23px;
}

.header-area .main-nav .menu-trigger span,
.header-area .main-nav .menu-trigger span:before,
.header-area .main-nav .menu-trigger span:after {
    -moz-transition: all 0.4s;
    -o-transition: all 0.4s;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
    background-color: #1e1e1e;
    display: block;
    position: absolute;
    width: 30px;
    height: 2px;
    left: 0;
}

.background-header .main-nav .menu-trigger span,
.background-header .main-nav .menu-trigger span:before,
.background-header .main-nav .menu-trigger span:after {
    background-color: #1e1e1e;
}

.header-area .main-nav .menu-trigger span:before,
.header-area .main-nav .menu-trigger span:after {
    -moz-transition: all 0.4s;
    -o-transition: all 0.4s;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
    background-color: #1e1e1e;
    display: block;
    position: absolute;
    width: 30px;
    height: 2px;
    left: 0;
    width: 75%;
}

.background-header .main-nav .menu-trigger span:before,
.background-header .main-nav .menu-trigger span:after {
    background-color: #1e1e1e;
}

.header-area .main-nav .menu-trigger span:before,
.header-area .main-nav .menu-trigger span:after {
    content: "";
}

.header-area .main-nav .menu-trigger span {
    top: 16px;
}

.header-area .main-nav .menu-trigger span:before {
    -moz-transform-origin: 33% 100%;
    -ms-transform-origin: 33% 100%;
    -webkit-transform-origin: 33% 100%;
    transform-origin: 33% 100%;
    top: -10px;
    z-index: 10;
}

.header-area .main-nav .menu-trigger span:after {
    -moz-transform-origin: 33% 0;
    -ms-transform-origin: 33% 0;
    -webkit-transform-origin: 33% 0;
    transform-origin: 33% 0;
    top: 10px;
}

.header-area .main-nav .menu-trigger.active span,
.header-area .main-nav .menu-trigger.active span:before,
.header-area .main-nav .menu-trigger.active span:after {
    background-color: transparent;
    width: 100%;
}

.header-area .main-nav .menu-trigger.active span:before {
    -moz-transform: translateY(6px) translateX(1px) rotate(45deg);
    -ms-transform: translateY(6px) translateX(1px) rotate(45deg);
    -webkit-transform: translateY(6px) translateX(1px) rotate(45deg);
    transform: translateY(6px) translateX(1px) rotate(45deg);
    background-color: #1e1e1e;
}

.background-header .main-nav .menu-trigger.active span:before {
    background-color: #1e1e1e;
}

.header-area .main-nav .menu-trigger.active span:after {
    -moz-transform: translateY(-6px) translateX(1px) rotate(-45deg);
    -ms-transform: translateY(-6px) translateX(1px) rotate(-45deg);
    -webkit-transform: translateY(-6px) translateX(1px) rotate(-45deg);
    transform: translateY(-6px) translateX(1px) rotate(-45deg);
    background-color: #1e1e1e;
}

.background-header .main-nav .menu-trigger.active span:after {
    background-color: #1e1e1e;
}

.header-area.header-sticky {
    min-height: 80px;
}

.header-area .nav {
    margin-top: 30px;
}

.header-area.header-sticky .nav li a.active {
    color: #aaa;
}

@media (max-width: 1200px) {
    .header-area .main-nav .nav li {
        padding-left: 12px;
        padding-right: 12px;
    }
    .header-area .main-nav:before {
        display: none;
    }
}

@media (max-width: 767px) {
    .header-area .main-nav .logo {
        color: #1e1e1e;
    }
    .header-area.header-sticky .nav li a:hover,
    .header-area.header-sticky .nav li a.active {
        color: #aaa!important;
        opacity: 1;
    }
    .header-area.header-sticky .nav li.search-icon a {
        width: 100%;
    }
    .header-area {
        background-color: #f7f7f7;
        padding: 0px 15px;
        height: 100px;
        box-shadow: none;
        text-align: center;
    }
    .header-area .container {
        padding: 0px;
    }
    .header-area .logo {
        margin-left: 30px;
    }
    .header-area .menu-trigger {
        display: block !important;
    }
    .header-area .main-nav {
        overflow: hidden;
    }
    .header-area .main-nav .nav {
        float: none;
        width: 100%;
        display: none;
        -webkit-transition: all 0s ease 0s;
        -moz-transition: all 0s ease 0s;
        -o-transition: all 0s ease 0s;
        transition: all 0s ease 0s;
        margin-left: 0px;
    }
    .header-area .main-nav .nav li:first-child {
        border-top: 1px solid #eee;
    }
    .header-area.header-sticky .nav {
        margin-top: 100px !important;
    }
    .header-area .main-nav .nav li {
        width: 100%;
        background: #fff;
        border-bottom: 1px solid #eee;
        padding-left: 0px !important;
        padding-right: 0px !important;
    }
    .header-area .main-nav .nav li a {
        height: 50px !important;
        line-height: 50px !important;
        padding: 0px !important;
        border: none !important;
        background: #f7f7f7 !important;
        color: #191a20 !important;
    }
    .header-area .main-nav .nav li a:hover {
        background: #eee !important;
        color: #aaa!important;
    }
    .header-area .main-nav .nav li.submenu ul {
        position: relative;
        visibility: inherit;
        opacity: 1;
        z-index: 1;
        transform: translateY(0%);
        transition-delay: 0s, 0s, 0.3s;
        top: 0px;
        width: 100%;
        box-shadow: none;
        height: 0px;
    }
    .header-area .main-nav .nav li.submenu ul li a {
        font-size: 12px;
        font-weight: 400;
    }
    .header-area .main-nav .nav li.submenu ul li a:hover:before {
        width: 0px;
    }
    .header-area .main-nav .nav li.submenu ul.active {
        height: auto !important;
    }
    .header-area .main-nav .nav li.submenu:after {
        color: #3B566E;
        right: 25px;
        font-size: 14px;
        top: 15px;
    }
    .header-area .main-nav .nav li.submenu:hover ul, .header-area .main-nav .nav li.submenu:focus ul {
        height: 0px;
    }
}

@media (min-width: 767px) {
    .header-area .main-nav .nav {
        display: flex !important;
    }
}


/*Feature*/


.main-banner {
    border-bottom: 3px dotted #eee;
    padding-top: 160px;
    padding-bottom: 30px;
}

.main-banner .left-content .thumb img {
    width: 100%;
    overflow: hidden;
}

.main-banner .left-content .inner-content {
    position: absolute;
    left: 100px;
    top: 50%;
    transform: translateY(-50%);
}

.main-banner .left-content .inner-content h4 {
    color: #fff;
    margin-top: -10px;
    font-size: 52px;
    font-weight: 700;
    margin-bottom: 20px;
}

.main-banner .left-content .inner-content span {
    font-size: 16px;
    color: #fff;
    font-weight: 400;
    font-style: italic;
    display: block;
    margin-bottom: 30px;
}

.main-banner .right-content .right-first-image {
    margin-bottom: 28.5px;
}

.main-banner .right-content .right-first-image .thumb {
    position: relative;
    text-align: center;
}

.main-banner .right-content .right-first-image .thumb img {
    width: 100%;
    overflow: hidden;
}

.main-banner .right-content .right-first-image .thumb .inner-content {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    text-align: center;
}

.main-banner .right-content .right-first-image .thumb .inner-content h4 {
    color: #fff;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 15px;
}

.main-banner .right-content .right-first-image .thumb .inner-content span {
    font-size: 16px;
    color: #fff;
    font-style: italic;
}

.main-banner .right-content .right-first-image .thumb .hover-content {
    position: absolute;
    top: 15px;
    right: 15px;
    left: 15px;
    bottom: 15px;
    text-align: center;
    background-color: rgba(42,42,42,.97);
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s;
}

.main-banner .right-content .right-first-image .thumb:hover .hover-content {
    opacity: 1;
    visibility: visible;
}

.main-banner .right-content .right-first-image .thumb .hover-content .inner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

.main-banner .right-content .right-first-image .thumb .hover-content h4 {
    color: #fff;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 15px;
}

.main-banner .right-content .right-first-image .thumb .hover-content p {
    color: #fff;
    padding: 0px 20px;
    margin-bottom: 20px;
}

.main-border-button a {
    font-size: 13px;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 25px;
    display: inline-block;
    font-weight: 500;
    transition: all .3s;
}

.main-border-button a:hover {
    background-color: #fff;
    color: #2a2a2a;
}


/*Footer*/


footer {
    margin-top: 60px;
    padding: 60px 0px 30px 0px;
    background-color: #2a2a2a;
}

footer .logo {
    margin-bottom: 20px;
}

footer ul{
    padding-left: 0;
}

footer ul li {
    display: block;
    margin-bottom: 10px;
}

footer ul li a {
    font-size: 14px;
    color: #fff;
    transition: all .3s;
}

footer ul li a:hover {
    color: #aaa;
}

footer h4 {
    letter-spacing: 0.5px;
    font-size: 16px;
    color: #fff;
    font-weight: 700;
    margin-bottom: 20px;
}

footer .under-footer {
    margin-top: 30px;
    padding-top: 30px;
    text-align: center;
    border-top: 1px solid rgba(250,250,250,0.3);
}

footer .under-footer ul {
    margin-top: 20px;
}

footer .under-footer ul li {
    display: inline-block;
    margin: 0px 10px;
}

footer .under-footer ul li a {
    font-size: 22px;
}

footer .under-footer p {
    color: #fff;
    font-size: 14px;
    font-weight: 300;
}

footer .under-footer a {
    color: #cff;
}

footer .under-footer a:hover {
    color: #c66;
}

.col-lg-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
}

.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
    position: relative;
    padding-right: 15px;
    padding-left: 15px;
}



/* 
---------------------------------------------
About Us Page
--------------------------------------------- 
*/



.about-page-heading {
    margin-top: 160px;
    margin-bottom: 30px;
    /*background-image: url(../images/background.jpg);*/
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.about-us {
    margin-top: 80px;
}

.about-us .left-image img {
    width: 100%;
    overflow: hidden;
}

.about-us .right-content {
    margin-left: 30px;
}

.about-us .right-content h4 {
    font-size: 34px;
    font-weight: 700;
    color: #2a2a2a;
}

.about-us .right-content span {
    font-size: 14px;
    color: #aaaaaa;
    font-weight: 500;
    display: block;
    margin-top: 25px;
}

.about-us .right-content .quote {
    margin-top: 25px;
}

.about-us .right-content .quote i {
    float: left;
    font-size: 32px;
    margin-right: 15px;
    margin-top: 10px;
}

.about-us .right-content .quote p {
    font-style: italic;
    color: #2a2a2a;
    font-weight: 500;
}

.about-us .right-content p {
    font-size: 14px;
    color: #aaaaaa;
    font-weight: 500;
    display: block;
    margin-top: 25px;
}

.about-us .right-content ul {
    border-top: 3px dotted #eee;
    margin-top: 30px;
    padding-top: 30px;
}

.about-us .right-content ul li {
    display: inline-block;
    margin-right: 5px;
}

.about-us .right-content ul li a {
    width: 44px;
    height: 44px;
    background-color: #2a2a2a;
    color: #fff;
    display: inline-block;
    text-align: center;
    line-height: 44px;
    border-radius: 50%;
    transition: all .5s;
}

.about-us .right-content ul li a:hover {
    background-color: #eee;
    color: #2a2a2a;
}

.our-team {
    margin-top: 100px;
    padding-top: 90px;
    padding-bottom: 90px;
    border-top: 3px dotted #eee;
}

.our-team .section-heading {
    margin-bottom: 60px;
    text-align: center;
}

.our-team .section-heading h2 {
    margin-bottom: 10px;
}

.our-team .team-item .thumb {
    position: relative;
}

.our-team .team-item .thumb img {
    width: 100%;
    overflow: hidden;
}

.our-team .team-item .thumb .hover-effect {
    position: absolute;
    background-color: rgba(0,0,0,0.9);
    width: 100%;
    text-align: center;
    top: 0;
    bottom: 0;
    opacity: 0;
    visibility: hidden;
    transition: all .3s;
}

.our-team .team-item .thumb:hover .hover-effect {
    opacity: 1;
    visibility: visible;
}

.our-team .team-item .thumb .hover-effect .inner-content {
    position: absolute;
    top: 50%;
    text-align: center;
    width: 100%;
    transform: translateY(-22px);
}

.our-team .team-item .thumb .hover-effect .inner-content ul li {
    display: inline-block;
    margin: 0px 5px;
}

.our-team .team-item .thumb .hover-effect .inner-content ul li a {
    width: 44px;
    height: 44px;
    background-color: #fff;
    color: #2a2a2a;
    display: inline-block;
    text-align: center;
    line-height: 44px;
    border-radius: 50%;
    transition: all .3s;
}

.our-team .team-item .thumb .hover-effect .inner-content ul li a:hover {
    background-color: #2a2a2a;
    color: #fff;
}

.our-team .team-item .down-content {
    text-align: center;
    padding-top: 25px;
}

.our-team .team-item .down-content h4 {
    font-size: 24px;
    color: #2a2a2a;
    font-weight: 700;
    margin-bottom: 5px;
}

.our-team .team-item .down-content span {
    font-size: 14px;
    color: #a1a1a1;
    font-weight: 500;
    display: block;
    font-style: italic;
}



/* 
---------------------------------------------
Login Page
--------------------------------------------- 
*/



.login {
    margin-top: 90px;
    border-bottom: 3px dotted #eee;
    padding-bottom: 90px;
}

.login form input {
    width: 100%;
    height: 3rem;
    line-height: 44px;
    padding: 0px 15px;
    font-size: 14px;
    font-style: italic;
    font-weight: 500;
    color: #aaa;
    border-radius: 0px;
    border: 1px solid #7a7a7a;
    box-shadow: none;
}

.login form input::focus {
    border-color: #2a2a2a;
    border-radius: 0px;
}

.login form textarea {
    width: 100%;
    height: 140px;
    min-height: 120px;
    max-height: 200px;
    margin-top: 30px;
    margin-bottom: 25px;
    line-height: 44px;
    padding: 0px 15px;
    font-size: 14px;
    font-style: italic;
    font-weight: 500;
    color: #aaa;
    border-radius: 0px;
    border: 1px solid #7a7a7a;
    box-shadow: none;
}

.login form textarea::focus {
    border-color: #2a2a2a;
    border-radius: 0px;
}

.login input[type="checkbox"] {
  -webkit-appearance: checkbox;
     -moz-appearance: checkbox;
          appearance: checkbox;
  display: inline-block;
  margin-left: 0.25rem;
  width: 1rem;
  height: 1rem;
}

.login button {
    width: 7rem;
    height: 3.35rem;
    display: inline-block;
    text-align: center;
    line-height: 44px;
    background-color: #2a2a2a;
    box-shadow: none;
    border: 1px solid transparent;
    color: #fff;
    transition: all 0.3s;
}

.login button:hover {
    background-color: #fff;
    border: 1px solid #2a2a2a;
    color: #2a2a2a;
}

.login .btn-outline-primary {
    width: 7rem;
    height: 2.8rem;
    display: inline-block;
    text-align: center;
    line-height: 30px;
    background-color: #2a2a2a;
    box-shadow: none;
    border: 1px solid transparent;
    color: #fff;
    transition: all 0.3s;
    margin-left: 0.5rem;
}

.login .btn-outline-primary:hover {
    background-color: #fff;
    border: 1px solid #2a2a2a;
    color: #2a2a2a;
}



/* 
---------------------------------------------
Sign Up Page
--------------------------------------------- 
*/



.signup {
    margin-top: 90px;
    border-bottom: 3px dotted #eee;
    padding-bottom: 90px;
}

.signup form input {
    width: 100%;
    height: 44px;
    line-height: 44px;
    padding: 0px 15px;
    font-size: 14px;
    font-style: italic;
    font-weight: 500;
    color: #aaa;
    border-radius: 0px;
    border: 1px solid #7a7a7a;
    box-shadow: none;
}

.signup form input::focus {
    border-color: #2a2a2a;
    border-radius: 0px;
}

.signup form textarea {
    width: 100%;
    height: 140px;
    min-height: 120px;
    max-height: 200px;
    margin-top: 30px;
    margin-bottom: 25px;
    line-height: 44px;
    padding: 0px 15px;
    font-size: 14px;
    font-style: italic;
    font-weight: 500;
    color: #aaa;
    border-radius: 0px;
    border: 1px solid #7a7a7a;
    box-shadow: none;
}

.signup form textarea::focus {
    border-color: #2a2a2a;
    border-radius: 0px;
}

.signup button {
    width: 7.5rem;
    height: 3.35rem;
    display: inline-block;
    text-align: center;
    line-height: 44px;
    background-color: #2a2a2a;
    box-shadow: none;
    border: 1px solid transparent;
    color: #fff;
    transition: all 0.3s;
}

.signup button:hover {
    background-color: #fff;
    border: 1px solid #2a2a2a;
    color: #2a2a2a;
}

.signup .btn-outline-primary {
    width: 7rem;
    height: 2.8rem;
    display: inline-block;
    text-align: center;
    line-height: 30px;
    background-color: #2a2a2a;
    box-shadow: none;
    border: 1px solid transparent;
    color: #fff;
    transition: all 0.3s;
    margin-left: 0.5rem;
}

.signup .btn-outline-primary:hover {
    background-color: #fff;
    border: 1px solid #2a2a2a;
    color: #2a2a2a;
}



/* 
---------------------------------------------
Products Page
--------------------------------------------- 
*/
.manager {
    margin-top: 90px;
    border-bottom: 3px dotted #eee;
    padding-bottom: 90px;
}


#products .section-heading {
  text-align: center;
  margin-bottom: 60px;
  margin-top: 80px;
}

#products .item {
  margin-bottom: 30px;
}

#products .item .thumb img {
  width: 100%;
  overflow: hidden;
}

#products .item .down-content {
  padding-top: 20px;
  position: relative;
  z-index: 3;
  background-color: #fff;
}

#products .item .down-content h4 {
  font-size: 22px;
  color: #2a2a2a;
  font-weight: 700;
  margin-bottom: 8px;
}

#products .item .down-content span {
  font-size: 18px;
  color: #a1a1a1;
  font-weight: 500;
  display: block;
}

#products .item .down-content ul.stars {
  position: absolute;
  right: 0;
  top: 20px;
}

#products .item .down-content ul.stars li {
  display: inline;
  font-size: 13px;
}

#products .item .thumb .hover-content {
  position: absolute;
  z-index: 2;
  text-align: center;
  bottom: -60px;
  width: 100%;
  opacity: 0;
  visibility: hidden;
  transition: all .5s;
}

#products .item .thumb:hover .hover-content {
  bottom: 30px;
  opacity: 1;
  visibility: visible;
}

#products .item .thumb {
  position: relative;
}

#products .item .thumb .hover-content ul li {
  display: inline;
  margin: 0px 10px;
}

#products .item .thumb .hover-content ul li a {
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  display: inline-block;
  color: #2a2a2a;
  background-color: #fff;
}




#products .pagination ul li a:hover,
#products .pagination ul li.active a {
  background-color: #2a2a2a;
  color: #fff;
}

#products .pagination {
  display: inline-block;
  float: left;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

#products .pagination ul {
  text-align: center;
  width: 100%;
}

#products .pagination ul li {
  display: inline;
  margin: 0px 5px;
}

#products .pagination ul li a {
  color: black;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
  width: 44px;
  height: 44px;
  border: 1px solid #2a2a2a;
  display: inline-block;
  text-align: center;
  line-height: 44px;
  font-size: 14px;
  font-weight: 500;
  color: #2a2a2a;
}

#products .pagination a.active {
  background-color: black;
  color: white;
}

#products .pagination a:hover:not(.active) {
    background-color: #ddd;
}

/* 
---------------------------------------------
Create, Update, Delete Page
--------------------------------------------- 
*/
.create, .update, .delete{
    margin-top: 90px;
    border-bottom: 3px dotted #eee;
    padding-bottom: 90px;
}

.delete h1{
    color: red;
}

.delete form{
    padding: 1px;
    font-size: 30px;
}

.create form input, .update form input {
    width: 100%;
    height: 3rem;
    line-height: 44px;
    padding: 0px 15px;
    font-size: 14px;
    font-style: italic;
    font-weight: 500;
    color: #aaa;
    border-radius: 0px;
    border: 1px solid #7a7a7a;
    box-shadow: none;
}

.create textarea, .update input::focus {
    border-color: #2a2a2a;
    border-radius: 0px;
}

.create label, .update label{
    margin: 10px 0;
}

.create textarea, .update textarea {
    width: 100%;
    height: 140px;
    min-height: 120px;
    max-height: 200px;
    margin-top: 30px;
    margin-bottom: 25px;
    line-height: 44px;
    padding: 0px 15px;
    font-size: 14px;
    font-style: italic;
    font-weight: 500;
    color: #aaa;
    border-radius: 0px;
    border: 1px solid #7a7a7a;
    box-shadow: none;
}

.create form textarea::focus, .update form textarea::focus {
    border-color: #2a2a2a;
    border-radius: 0px;
}

.create button, .update button, .delete button {
    width: 7rem;
    height: 3.35rem;
    display: inline-block;
    text-align: center;
    line-height: 44px;
    background-color: #2a2a2a;
    box-shadow: none;
    border: 1px solid transparent;
    color: #fff;
    transition: all 0.3s;
    margin-top: 15px;
}

.create button:hover, .update button:hover, .delete button:hover {
    background-color: #fff;
    border: 1px solid #2a2a2a;
    color: #2a2a2a;
}



/* 
---------------------------------------------
Checkout Page
--------------------------------------------- 
*/



.checkout {
    margin-top: 90px;
    border-bottom: 3px dotted #eee;
    padding-bottom: 90px;
}

.checkout input[type=text] {
  width: 100%;
  margin-bottom: 20px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.checkout label {
  margin-bottom: 10px;
  display: block;
}

.checkout .icon-container {
  margin-bottom: 20px;
  padding: 7px 0;
  font-size: 24px;
}

.checkout .btn {
  background-color: black;
  color: white;
  padding: 12px;
  margin: 10px 0;
  border: 1px solid black;
  width: 100%;
  border-radius: 3px;
  cursor: pointer;
  font-size: 17px;
}

.checkout .btn:hover {
  background-color: gray;
  color: black;
}

.checkout h3 {
  padding-bottom: 0.1rem;
}